body {
    p{
        color: $color-primary;
        background-color: $color-background;
        a {
            text-decoration: none;
            color: $color-secondary;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}